---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: boshcpi/openstack-cpi-release
inputs:
  - name: bosh-openstack-cpi-release
  - name: bosh-release
  - name: bosh-cpi-dev-artifacts
  - name: version-semver
  - name: stemcell-director
  - name: terraform-cpi
  - name: bosh-deployment
outputs:
  - name: bosh-director-deployment
  - name: terraform-cpi-deploy
run:
  path: bosh-openstack-cpi-release/ci/tasks/deploy-manual-networking.sh
params:
  bosh_vcap_password:                  ""
  openstack_flavor:                    ""
  openstack_connection_timeout:        ""
  openstack_read_timeout:              ""
  openstack_write_timeout:             ""
  openstack_state_timeout:             ""
  openstack_auth_url:                  ""
  openstack_username:                  ""
  openstack_api_key:                   ""
  openstack_domain:                    ""
  DEBUG_BATS:                          ""
  distro:                              ""
  openstack_file_path:                 ""
  availability_zone:                   replace-me
