---
platform: linux
image: docker:///boshcpi/openstack-cpi-release
inputs:
  - name: bosh-cpi-src-in
  - name: openstack-lifecycle-stemcell
outputs:
  - name: output
run:
  path: bosh-cpi-src-in/ci/tasks/run-lifecycle.sh
params:
  BOSH_OPENSTACK_DOMAIN:                   replace-me
  BOSH_OPENSTACK_AUTH_URL_V2:              replace-me
  BOSH_OPENSTACK_AUTH_URL_V3:              replace-me
  BOSH_OPENSTACK_USERNAME:                 replace-me
  BOSH_OPENSTACK_API_KEY:                  replace-me
  BOSH_OPENSTACK_USERNAME_V3:              replace-me
  BOSH_OPENSTACK_API_KEY_V3:               replace-me
  BOSH_OPENSTACK_PROJECT:                  replace-me
  BOSH_OPENSTACK_TENANT:                   replace-me
  BOSH_OPENSTACK_MANUAL_IP:                replace-me
  BOSH_OPENSTACK_NO_DHCP_MANUAL_IP_1:      replace-me
  BOSH_OPENSTACK_NO_DHCP_MANUAL_IP_2:      replace-me
  BOSH_OPENSTACK_NET_ID:                   replace-me
  BOSH_OPENSTACK_NET_ID_NO_DHCP_1:         replace-me
  BOSH_OPENSTACK_NET_ID_NO_DHCP_2:         replace-me
  BOSH_CLI_SILENCE_SLOW_LOAD_WARNING:      replace-me
  BOSH_OPENSTACK_VOLUME_TYPE:              replace-me
  BOSH_OPENSTACK_CONNECT_TIMEOUT:          replace-me
  BOSH_OPENSTACK_READ_TIMEOUT:             replace-me
  BOSH_OPENSTACK_WRITE_TIMEOUT:            replace-me
  BOSH_OPENSTACK_DEFAULT_KEY_NAME:         replace-me
  BOSH_OPENSTACK_CA_CERT:                  replace-me
  BOSH_OPENSTACK_FLAVOR_WITH_NO_ROOT_DISK: replace-me
