---
platform: linux
image: docker:///bosh/openstack-cpi-release
inputs:
- name: bosh-src
- name: bosh-cpi-release
run:
  path: bosh-cpi-release/ci/tasks/run-lifecycle.sh
params:
  BOSH_OPENSTACK_AUTH_URL:            replace-me
  BOSH_OPENSTACK_USERNAME:            replace-me
  BOSH_OPENSTACK_API_KEY:             replace-me
  BOSH_OPENSTACK_TENANT:              replace-me
  BOSH_OPENSTACK_MANUAL_IP:           replace-me
  BOSH_OPENSTACK_NET_ID:              replace-me
  BOSH_OPENSTACK_STEMCELL_ID:         replace-me
  BOSH_CLI_SILENCE_SLOW_LOAD_WARNING: true
  BOSH_OPENSTACK_VOLUME_TYPE:         "SSD"
