---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: boshcpi/openstack-cpi-release
inputs:
  - name: bosh-cpi-src-in
  - name: dummy-release
  - name: stemcell
  - name: terraform
run:
  path: bosh-cpi-src-in/ci/pipelines/certify-stemcell/tasks/deploy-dummy-release.sh
params:
  bosh_admin_password:         replace-me
  stemcell_name:               replace-me
  instance_flavor:             replace-me
  delete_deployment_when_done: replace-me
