
---
platform: linux
image: docker:///boshcpi/openstack-cpi-release
inputs:
  - name: bosh-cpi-src-in
  - name: bosh-init
  - name: bosh-release
  - name: bosh-cpi-dev-artifacts
  - name: stemcell
  - name: upgrade-deployment
run:
  path: bosh-cpi-src-in/ci/pipelines/certify-stemcell/tasks/teardown.sh