#
# Conventions:
# - name keys with their conext moving general -> specific
#   e.g values used in a BOSH context should be prefixed with `bosh-`
#   while values passed to BATs should be prefixed with `bats`. Values passed
#   to the manual networking BATs jobs should be prefixed with `bats-manual`
#   and so on.
# - non-secret configuration such as what stemcell name to use belongs in the
#   Concourse pipeline configuration for that job.
# - when possible store secret content in this file and write files such as
#   SSH keys in the jobs which require the information. Heredoc is your friend.
# - Define lowercase keys in this file and export uppercase environment
#   variables in job scripts
#
---
#
# CI keys/secrets
#
s3_openstack_cpi_pipeline_access_key:
s3_openstack_cpi_pipeline_secret_key:
s3_openstack_cpi_pipeline_bucket_name:
s3_openstack_cpi_blobs_access_key: # only used for promoting final releases
s3_openstack_cpi_blobs_secret_key: # only used for promoting final releases
s3_openstack_cpi_state_files_access_key:
s3_openstack_cpi_state_files_secret_key:
s3_openstack_cpi_state_files_bucket_name:
github_deployment_key__bosh-openstack-cpi-release:
  -----BEGIN RSA PRIVATE KEY-----
  ...
  -----END RSA PRIVATE KEY-----
pipeline_lock_repository_url:
pipeline_lock_pool_name:
pipeline_lock_github_deployment_key:
  -----BEGIN RSA PRIVATE KEY-----
  ...
  -----END RSA PRIVATE KEY-----
openstack_auth_url_v2:
openstack_auth_url_v3:
openstack_api_key:
openstack_username:
openstack_flavor_with_ephemeral_disk:
openstack_flavor_with_no_ephemeral_disk:
openstack_tenant:
openstack_security_group:
openstack_default_key_name:
#
# Shared BOSH configuration
#
dns:
bosh_openstack_ssl_verify:
bosh_desired_vcap_user_password:
bosh_director_registry_port:
bosh_private_key:
  -----BEGIN RSA PRIVATE KEY-----
  ...
  -----END RSA PRIVATE KEY-----

#
# CPI Lifecycle Configuration
#
lifecycle_manual_ip:
lifecycle_openstack_net_id:
lifecycle_openstack_username:
lifecycle_openstack_username_v3:
lifecycle_openstack_api_key:
lifecycle_openstack_api_key_v3:
lifecycle_openstack_tenant:
lifecycle_openstack_project:
lifecycle_openstack_default_key_name:
lifecycle_openstack_domain:
#
# Dynamic Networking BATs Configuration
#
bats_dynamic_ubuntu_primary_net_id:
bats_dynamic_ubuntu_director_public_ip:
bats_dynamic_ubuntu_floating_ip:
###############################################################################
bats_dynamic_centos_primary_net_id:
bats_dynamic_centos_director_public_ip:
bats_dynamic_centos_floating_ip:
#
# Manual Networking BATs Configuration
#
bats_manual_ubuntu_director_public_ip:
bats_manual_ubuntu_director_private_ip:
bats_manual_ubuntu_floating_ip:
bats_manual_ubuntu_primary_net_id:
bats_manual_ubuntu_primary_net_cidr:
bats_manual_ubuntu_primary_net_gateway:
bats_manual_ubuntu_primary_net_static_range:
bats_manual_ubuntu_primary_net_manual_ip:
bats_manual_ubuntu_primary_net_second_manual_ip:
bats_manual_ubuntu_secondary_net_id:
bats_manual_ubuntu_secondary_net_cidr:
bats_manual_ubuntu_secondary_net_gateway:
bats_manual_ubuntu_secondary_net_static_range:
bats_manual_ubuntu_secondary_net_manual_ip:
###############################################################################
bats_manual_centos_director_public_ip:
bats_manual_centos_director_private_ip:
bats_manual_centos_floating_ip:
bats_manual_centos_primary_net_id:
bats_manual_centos_primary_net_cidr:
bats_manual_centos_primary_net_gateway:
bats_manual_centos_primary_net_static_range:
bats_manual_centos_primary_net_manual_ip:
bats_manual_centos_primary_net_second_manual_ip:
bats_manual_centos_secondary_net_id:
bats_manual_centos_secondary_net_cidr:
bats_manual_centos_secondary_net_gateway:
bats_manual_centos_secondary_net_static_range:
bats_manual_centos_secondary_net_manual_ip:
#
# Keystone v3 end-to-end test
#
v3_e2e_bosh_registry_port:
v3_e2e_api_key:
v3_e2e_default_key_name:
v3_e2e_floating_ip:
v3_e2e_director_username:
v3_e2e_director_password:
v3_e2e_manual_ip:
v3_e2e_net_cidr:
v3_e2e_net_gateway:
v3_e2e_net_id:
v3_e2e_security_group:
v3_e2e_project:
v3_e2e_domain:
v3_e2e_username:
v3_e2e_stemcell_name:
v3_e2e_blobstore_access_key:
v3_e2e_blobstore_secret_key:
v3_e2e_blobstore_bucket:
v3_e2e_blobstore_host:
v3_e2e_private_key_data:
  -----BEGIN RSA PRIVATE KEY-----
  ...
  -----END RSA PRIVATE KEY-----
